body {
    margin: 0;
    font-family: 'Federo', sans-serif;
}

h1 {
    font-size: 2.5em;
    text-transform: uppercase;
}

hr {
    border-top: 3px solid white;
    margin: 30px;
}

h2 {
    font-size: 1.1em;
    margin: 5%;
}

.btn-produits {
    text-decoration: none;
    background: #7f72f8;
    color: #fff!important;
    text-transform: uppercase;
    margin: auto;
    padding: 12px 28px 12px 28px;
    font-size: 16px;
    border-radius: 40px;
}

nav {
    background-color:  #d0cbff;
    height: 80px;
    display: flex;
}

nav a {
    margin: auto;
}

.hero {
    display: flex;
    background-image: url(img/banner_3.jpg);
    background-size: cover;
    background-position: bottom;
    height: 600px; 
}

.hero-content {
    color: white;
    margin: auto;
    text-align: center;
}

#liste-produits {
    height: 500px;
}

h3 {
    margin-top: 5%;
    text-align: center;
}

.footer-distributed {
    display: flex;
    background-color: rgba(198, 245, 167, 0.384);
    height: 80px;
    width: 100%;
    justify-content: space-between;
}

.footer-left {
    margin: auto;
}

.footer-center {
    margin: auto;
}

.footer-right {
    margin: auto;
}
